@model MySSO.Web.Controllers.LoginViewModel

@using MySSO.ServiceModel;

@{
    ViewData["Title"] = "Login";


    string returnUrl = ViewBag.ReturnUrl;
    if (String.IsNullOrEmpty(returnUrl))
    {
        returnUrl = "/";
    }

    string crossdomain = ViewBag.CrossDomain;
    crossdomain = crossdomain.ToLower();


    CommonServiceResult<LoginResultData> loginResult = ViewBag.LoginResult;

    if (loginResult != null)
    {
        if (loginResult.IsSuccess && crossdomain == "true" && returnUrl != "/")
        {
            // 登录成功， 且跨域的情况下. 页面跳转加参数.
            if (returnUrl.IndexOf('?') > 0)
            {
                returnUrl = String.Format("{0}&authToken={1}", returnUrl, loginResult.ResultData.TokenID);
            }
            else
            {
                returnUrl = String.Format("{0}?authToken={1}", returnUrl, loginResult.ResultData.TokenID);
            }
        }
    }


}

<h1>登录</h1>

<h4> MySSO Login </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <input type="hidden" name="returnUrl" value="@(returnUrl)" />
            <input type="hidden" name="crossdomain" value="@(crossdomain)" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>

@if(loginResult != null)
{
    if (!loginResult.IsSuccess)
    {
        // 登录失败.
        <div>
            用户名或密码不正确.
        </div>
    } else
    {
        // 登录成功. 页面跳转.
        <script>
            window.location.href = "@(returnUrl)";
        </script>
    }
}

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
