
@{
    ViewBag.Title = "用于测试的业务页面";
}

<h2>用于测试的业务页面</h2>


<p>

    这个页面，不允许匿名访问。
    <br />
    这个用于测试，
    当不允许匿名访问，必须要登录的情况下， 是否能自动跳转至登录页。
    以及登录页登录完毕后， 是否还能正常的跳转至业务页面。

</p>

<p>
    这里是根据用户代码 @(ViewBag.UserID) 去获取相应的数据.
</p>


<p>
    在本页直接登出， 将在登出后， 返回本网站首页.
</p>