@{
    ViewBag.Title = "Home Page";
}


<div class="row">

    <p>

        我是用户测试 SSO 的业务网站.

        当前用户状态：
        @if (User.Identity.IsAuthenticated)
        {
            <span>已登录</span>
            <a class="nav-link text-dark" href="Account/LogOff">LogOff</a>
        }
        else
        {
            <span>未登录</span>
            <a class="nav-link text-dark" href="Account/Login">Login</a>
        }

    </p>


    <p>

        <a class="nav-link text-dark" href="Home/Business">Business</a> 是一个要求用户登录后，才能访问的页面。
        点击这个链接，将跳转至登录网站，登录成功后，再跳转至该页面。

    </p>

</div>