
@{
    ViewData["Title"] = "Index";
}

<h2> Session 的测试 </h2>


<ul>
    <li>
        <a href="/TestSession/SetValue">设置 Session 数值</a>
    </li>

    <li>
        <a href="/TestSession/GetValue">获取 Session 数值</a>
    </li>
</ul>


