
@{
    ViewData["Title"] = "SetValue";
}

<h2>设置 Session 数值</h2>


<form action="/TestSession/SetValue" method="post">
    <span>输入要暂存到 Session 中的数据</span>
    <input id="sessionValue" name="sessionValue" type="text" />
    <input type="submit" />
</form>


<p>
    <a href="/TestSession"> 返回 测试Session </a>
</p>