@namespace W4113_AntDesignProServer.Pages.Test

@page "/test/myupload"

@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment Environment

<h3>上传文件</h3>

@* 
multiple 为允许一次上传多个文件.
accept 为支持上传的文件类型.
*@
<InputFile id="fileInput" OnChange="UploadFiles" hidden multiple accept=".xls,.doc,.txt,.pdf" />

<Upload Name="files" FileList="fileList">
    <label class="ant-btn" for="fileInput">
        <Icon Type="upload" />
        Click to Upload
    </label>
</Upload>

@code {


    List<UploadFileItem> fileList = new List<UploadFileItem>();


    IList<IBrowserFile> files = new List<IBrowserFile>();


    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        
        string wwwPath = Environment.WebRootPath;
        // 存储文件的物理路径.
        string saveFilePath = $"{wwwPath}/Upload";

        // 目录不存在，则创建.
        if (!System.IO.Directory.Exists(saveFilePath))
        {
            System.IO.Directory.CreateDirectory(saveFilePath);
        }
        


        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);


            string saveFileName = $"{wwwPath}/Upload/{file.Name}";
            // 文件已存在，则删除.
            if (System.IO.File.Exists(saveFileName))
            {
                System.IO.File.Delete(saveFileName);
            }

            using (var stream = System.IO.File.Create(saveFileName))
            {
                await file.OpenReadStream().CopyToAsync(stream);
            }
        }
        

        fileList = files.Select(file => new UploadFileItem { FileName = file.Name, Size = file.Size }).ToList();
    }
}
