@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>500 - Server Error</title>
</head>
<body>
    <div>
        <h3> 我是 500 页面</h3>
        <p>
            服务器处理，发生了异常.
        </p>
    </div>
</body>
</html>