@page "/testmodal"

@using A0055_RazorClassLibrary

<h3>TestModal</h3>



<Modal Title="My first Modal dialog" Show="true">
    <p>
        This is my first modal dialog
    </p>
</Modal>



@code {

}
