@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">页面访问计数</h1>
    

    <ul>
        <li><a href="/MySimpleAccessCount/Test?id=TEST_PAGE_1">测试页面1</a></li>

        <li><a href="/MySimpleAccessCount/Test?id=TEST_PAGE_2">测试页面2</a></li>
    </ul>

</div>
