@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1> asp.net core 例子代码</h1>
</div>




<div class="row">
    <div class="col-md-3">
        <h2> Test Ajax </h2>
        <p>
            测试复杂的 Ajax 调用流程
        </p>
        <p>
            <a class="nav-link text-dark" asp-area="" asp-controller="TestAjax" asp-action="Index">Test Ajax</a>
        </p>
    </div>


    <div class="col-md-3">
        <h2> Test Upload </h2>
        <p>
            测试上传文件
        </p>
        <p>
            <a class="nav-link text-dark" asp-area="" asp-controller="TestUpload" asp-action="Index">Test Upload</a>
        </p>
    </div>


    <div class="col-md-3">
        <h2> Test Download </h2>
        <p>
            测试下载文件
        </p>
        <p>
            <a class="nav-link text-dark" asp-area="" asp-controller="TestDownload" asp-action="Index">Test Download</a>
        </p>
    </div>
</div>