@page "/helloworld"


<PageContainer Title="HelloWorld">


    <h3> HelloWorld </h3>



    <Card>
        <Alert Message="只是一个 Hello World."
               Type="success"
               ShowIcon="true"
               Banner
               Style="margin: -12px; margin-bottom: 24px" />
    </Card>



</PageContainer>


@code {

}
