
@{
    ViewBag.Title = "Index";
}

<h2>测试上传文件 的处理.</h2>


<ul>

    <li>
        <a href="/TestUpload/UploadOneFile">上传单个文件</a>
    </li>

    <li>
        <a href="/TestUpload/UploadTwoFile">上传两个文件</a>
    </li>

    <li>
        <a href="/TestUpload/UploaFileAndText">文本与文件同时提交</a>
    </li>


</ul>