quartz.scheduler.instanceName = MyScheduler


quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount = 10
quartz.threadPool.threadPriority = 2

quartz.jobStore.misfireThreshold = 60000
quartz.jobStore.type = Quartz.Simpl.RAMJobStore, Quartz



quartz.plugin.xml.type = Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins
quartz.plugin.xml.fileNames = ./config/quartz_jobs.xml
quartz.plugin.xml.failOnFileNotFound = true