<div class="page" data-name="organization">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
		<a href="#" class="link icon-only panel-open" data-panel="left">
		  <i class="icon f7-icons ios-only">menu</i>
		  <i class="icon material-icons md-only">menu</i>
		</a>
      </div>
      <div class="title">组织机构</div>
    </div>
  </div>

  <div class="page-content" id="organizationPageCreate">
    <div class="block-title">组织机构</div>
	<div class="list inline-labels no-hairlines-md" v-if="dataItem != null">

	  <ul>

		<li class="item-content item-input">
		  <div class="item-media">
			<i class="icon demo-list-icon"></i>
		  </div>
		  <div class="item-inner">
			<div class="item-title item-label">组织机构代码</div>
			<div class="item-input-wrap">
			  <input type="text" v-model="dataItem.loginOrganizationCode" placeholder="请填写组织机构代码">
			  <span class="input-clear-button"></span>
			</div>
		  </div>
		</li>


		<li class="item-content item-input">
		  <div class="item-media">
			<i class="icon demo-list-icon"></i>
		  </div>
		  <div class="item-inner">
			<div class="item-title item-label">组织机构名称</div>
			<div class="item-input-wrap">
			  <input type="text" v-model="dataItem.organizationName" placeholder="请填写组织机构名称">
			  <span class="input-clear-button"></span>
			</div>
		  </div>
		</li>
	  </ul>

	  <div class="block">
		<div class="row">
	  	  <button class="col button button-fill button-round" v-on:click="cancelCreate()">返回</a>
	  	  <button class="col button button-fill button-round" v-on:click="createData()">保存</button>
	    </div>
	  </div>

	</div>
  </div>
</div>